
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #f0f8fd;
}
/* Accueil css */
.feeds-page{
    width: 100%;
    height: 100vh;
}
/* Pour les publications posts*/
.flexContent{
    display: flex;
    width: 100%;
    padding-top:7rem;
    justify-content: space-between;
}

/*ici content feed*/


/*Suggestion d'amis*/
.friends{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.wrapFriend{
    padding-top: 1rem;
    flex : 2;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer{
    height: 10rem;
    background-color: blueviolet;
}
/* Post button */
.post-btn{
    position: fixed;
    bottom: 2rem;
    left: 68%;
    width: 12rem;
    padding: 1.5rem 1rem;
    background-color: rgb(41, 88, 241);
    color: white;
    font-size: 2rem;
    border: 0.1rem solid rgb(41, 88, 241);
    border-radius:3rem;
    cursor: pointer;
    box-shadow: 0 0.3rem 1rem black;
    transition: background-color 0.3s;
}

.post-btn:hover{
    background-color: rgb(10, 23, 207) ;
}