.friends{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.wrapFriend{
    padding-top: 1rem;
    flex : 2;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}
.follow-heading{
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid #eee;
}
.follow-link{
    margin: 2rem 1rem;
}
.follow-link a{
    text-decoration: none;
    color: rgb(41, 88, 241);
    font-size: 1.5rem;
}
